body{
    background-image: url("resources/image/wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    color: white;
font-weight: bolder;
}

h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 40pt;
    color: white;
    font-weight: bolder;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bolder;
}
p{
     font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    color: white;
    font-weight: bolder;

}